 <div style="width:100% "th:each="item,status: ${fourfile}"  th:switch="${item.worktype}">
	               
	                    <div th:case="assignmentfile">
	                     <div th:if="${status.index == 0 or item.title != fourfile[status.index - 1].title}" >
	                       <div class="headpaert"  >
							    <div id="announce" class="row"style="margin-top:50px;border:1px solid gray;padding-top:5px;padding-bottom:5px;border-radius:10px" >
								   <div class="col-sm-10 row" >
										<div class="col-sm-3">
											<a target="#" href="#">
							   			 	<img th:src="@{/image/frnd.jpg}" style="margin-left:30px" class="rounded-circle"  alt="Cinque Terre" >
							             	</a>
										</div>
										<div class="col-sm-9" style="margin-top:30px">
										        <p style="margin-left:45px;"  th:text="${item.title}" ></p>
										        
									    </div>
								 
								  </div>
									<div class="col-sm-2  " style="text-align:right">
										<a href="#"  >
								   		 <i class='fas fa-ellipsis-v ' style='font-size:24px;color:black;margin-top:10px;' data-bs-toggle="modal" data-bs-target="#myModal"></i>
								   		</a>
									</div>
							   </div>
						    </div>
	                     </div>
	                    </div>
	                    <div th:case="classpost">
	                     
					          <p style="margin-left:45px;" th:if="${status.index == 0 or item.body == fourfile[status.index - 1].body}"  th:utext="${item.body}" ></p>
	                     
	                   </div>		  
	               
	               </div>
